<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Before 
    <%- body %>
    After
</body>
</html>

<!-- Sadece tek bir layout ejs ile bütün view işlerini halledicez ! -->